{% extends 'catalog/base_auth.html' %}

{% block content1 %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить запись?</p>
                        <button type="submit" class="btn btn-danger">
                            Подтвердить
                        </button>
                        <a href="{% url 'catalog:home' %}" type="submit" class="btn btn-success">
                            Отмена
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}